body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}
header {
    background-color: #F2F2F2;
    color: #BF712C;
    padding: 1rem 0;
    text-align: center;
}
nav {
    background-color: #F2F2F2;
    padding: 0.5rem;
    text-align: center;
}
nav a {
    color: #8C451C;
    margin: 0 1rem;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 2rem;
}
footer {
    background-color: #F2F2F2;
    color: #BF712C;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Reset di base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: #F2F2F2;
    font-family: 'Helvetica Neue', sans-serif;
}

/* Contenitore centrale */
.home {
    max-width: 1400px;
    margin: 0 auto;
    height: 100vh;
    background-image: url('IMG/back.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Testo sopra l'immagine */
.home h1 {
    font-size: 4rem;
    color: #F2F2F2;
    text-shadow: 0 2px 8px rgba(242, 242, 242, 1);
    letter-spacing: 8px;
    margin-bottom: 20px;
}

.home p {
    font-size: 1.2rem;
    color: #F2F2F2;
    text-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
